doctype html
html
  head
    title
    //- link(rel='stylesheet', href='/css/style.css')
    //- link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='javascript:')
    .container
      h1 My Data
      table
        thead
          tr
            th id
            th Company
        tbody
        each objs in data
          tr
            td
              a(href="/suppliers/#{objs.id}")= objs.id 
            td
              a(href="/suppliers/#{objs.id}")= objs.company 
      #pager.text-center
        p
          | #{fullListLength}
        - var i = 1;
        table
          tr
            while i < fullListLength
              td 
                a(href="/?page="+i) #{i}
              -i++;
            
      input#totalRecords(type='hidden', value='<%= totalRecords %>')
      input#size(type='hidden', value='<%= size %>')
    script(type='text/javascript', src='../public/jQuery/jQuery-2.1.4.min.js')
    script(type='text/javascript', src='../public/js/script.js')
